stages:
  - build
  - linting
  - tests
  - deploy-staging
  - deploy-production

build:
  stage: build
  image: node:18.4.0
  script:
    - npm i @nestjs/cli
    - npm ci --cache .npm --prefer-offline
    - npm run build
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    paths:
      - node_modules/
  tags:
    - artic

linting:
  extends: build
  stage: linting
  script:
    - npm run lint
  tags:
    - artic

tests:
  extends: build
  stage: tests
  script:
    - npm run test
  tags:
    - artic


deploy-staging:
  stage: deploy-staging
  script:
    - docker-compose -f docker-compose.staging.yml up --build -d
  tags:
    - artic
  only:
    - staging

deploy-production:
  stage: deploy-production
  script:
    - docker-compose -f docker-compose.production.yml up --build -d
  tags:
    - artic
  only:
    - main
