version: "3.9"

services:
  mongodb:
    image: bitnami/mongodb:latest
    container_name: messenger-mongodb-staging
    restart: always
    ports:
      - "27017:27017"
    networks:
      - default
      - messenger-network-staging
    volumes:
      - ~/messenger-mongodb-staging:/data/db
    environment:
      MONGODB_ROOT_USERNAME: root
      MONGODB_ROOT_PASSWORD: GVf9fk99DKiodklps,mvixivxg
      MONGODB_USERNAME: user-messenger
      MONGODB_PASSWORD: 9mkffg4sdidkIFIMFOkmfk
      MONGODB_DATABASE: messenger

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NODE_ENV: staging
    container_name: messenger-backend-staging
    restart: always
    networks:
      - default
      - messenger-network-staging
    expose:
      - 3000
    ports:
      - 3000
#    volumes:
#      - "./config.json:/app/config.json"
#      - "./data:/app/storage"
    depends_on:
      - mongodb
volumes:
  messenger-mongodb-staging:
    driver: local
networks:
  default:
    name: containers-controller_default
    external: true
  messenger-network-staging:
    name: messenger-network-staging
    driver: bridge

